.section {
  width: 100%;
  padding: 1.375rem;
}

.list {
  margin-top: 1.5rem;
  display: flex;
  column-gap: 1.25rem;
}

.item {
  width: calc(100% / 5);
  overflow: hidden;
  text-align: center;
}

.image {
  width: 100%;
  height: 14.375rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-top: 1.25rem;
}
